.custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    margin: 20px 0;
}

.page-btn {
    padding: 8px 14px;
    border: 1px solid #4a90e2;
    background-color: #fff;
    color: #4a90e2;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
}

.page-btn:hover:not(:disabled) {
    background-color: #4a90e2;
    color: #fff;
}

.page-btn:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.active-btn {
    padding: 8px 14px;
    border: 1px solid #4a90e2;
    background: linear-gradient(135deg, #237B87, #42C2FF);
    color: #f6f6f6;
    border-radius: 6px;
    cursor: default;
    transition: all 0.3s ease;
    font-size: 14px;
}
